# This gitignore was automatically written by inweb -gitignore
# and is not intended for human editing

debug-log.txt
Woven/
Tangled/
!Tangled/*.preform
Tests/intest-history.txt
Tests/Transient/
Tests/hashes.intest
Tests/_Results_Actual/

codegen-module/Woven/
building-module/Woven/
inter-module/Woven/

inter.mk

Tests/Invalid/_Results_Actual/
Tests/General/_Results_Actual/
Tests/General/_Console/
Tests/Duplex/_Results_Actual/
Tests/Duplex/_Console/
Tests/Duplex/_Binaries/
Tests/Toys/_C_Results_Actual/
Tests/Toys/_C_Console/
Tests/Toys/_I6_Results_Actual/
Tests/Toys/_I6_Console/
Tests/Toys/_C_Object_Code/
Tests/Toys/_C_Output_Actual/
Tests/Toys/_I6_Object_Code/
Tests/Toys/_I6_Output_Actual/
Tests/C/_C/
Tests/C/_Textual/
Tests/Valid/_Binary/
Tests/Valid/_Console/
Tests/Valid/_Textual/
Tests/PipelineErrors/_Results_Actual/
Tests/Units/_Results_Actual/
building-test/Tests/Test Cases/_Results_Actual/

