# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.{i6t,i7,i7x,neptune,ni,txt,w}]
indent_style = tab

[*.{i6t,w}]
insert_final_newline = true

[*.json]
indent_style = space
indent_size = 4