# This gitignore was automatically written by inweb -gitignore
# and is not intended for human editing

.DS_Store
gameinfo.dbg

makefile

Changes/Output/
Changes/Output/META-INF/
Changes/Output/OEBPS/
Changes/Output/OEBPS/Images/
Documentation/Output/
Documentation/Output/META-INF/
Documentation/Output/OEBPS/
Documentation/Output/OEBPS/Images/
Documentation/Examples/_Results_Actual/
*/_Results_Actual/

Internal/Extensions/Graham Nelson/Standard Rules.i7x
Internal/I6T/
Internal/Languages/English/Syntax.preform
Internal/Miscellany/definitions.html

retrospective/*/cBlorb
retrospective/*/ni
retrospective/*/*.o
retrospective/makefile

