# This gitignore was automatically written by inweb -gitignore
# and is not intended for human editing

.DS_Store
gameinfo.dbg

makefile

resources/Changes/Output/
resources/Changes/Output/META-INF/
resources/Changes/Output/OEBPS/
resources/Changes/Output/OEBPS/Images/
resources/Documentation/Output/
resources/Documentation/Output/META-INF/
resources/Documentation/Output/OEBPS/
resources/Documentation/Output/OEBPS/Images/
resources/Documentation/Examples/_Results_Actual/
*/_Results_Actual/

inform7/Internal/Extensions/Graham Nelson/Standard Rules.i7x
inform7/Internal/Languages/English/Syntax.preform
inform7/Internal/Miscellany/definitions.html
inform7/Internal/Inter/*.interb

retrospective/*/cBlorb
retrospective/*/ni
retrospective/*/*.o
retrospective/makefile

inform7/*-test/Tests/Test Cases/_Results_Actual/
rsync.log

