# This gitignore was automatically written by inweb -gitignore
# and is not intended for human editing

debug-log.txt
tags
Woven/
Tangled/
!Tangled/*.preform
Tests/intest-history.txt
Tests/Transient/
Tests/hashes.intest
Tests/_Results_Actual/

inform7.mk
core-test/core-test.mk
inflections-test/inflections-test.mk
kinds-test/kinds-test.mk
linguistics-test/linguistics-test.mk
problems-test/problems-test.mk

core-module/Woven/
if-module/Woven/
index-module/Woven/
inflections-module/Woven/
kinds-module/Woven/
linguistics-module/Woven/
multimedia-module/Woven/
problems-module/Woven/
syntax-module/Woven/
words-module/Woven/

Tests/Special Cases/Temp.txt
Tests/Test Makes/Eg?-C/Eg?
Tests/Test Makes/Eg?-C/makefile
Tests/Test Makes/Eg?-C/Eg?-I.[co]
Tests/Test Makes/Eg?-C/Eg?-C.o
Tests/Test Makes/Eg?-C/actual_output.txt
Tests/Test Makes/Eg?-C/build_log.txt
Tests/Test Makes/Eg?-C/inform7_symbols.h

**/*.interb
Internal/Inter/Architecture16Kit/*.interb
Internal/Inter/Architecture32Kit/*.interb
Internal/Inter/BasicInformKit/*.interb
Internal/Inter/CommandParserKit/*.interb
Internal/Inter/DialogueKit/*.interb
Internal/Extensions/Graham Nelson/English*/Materials/Inter/EnglishLanguageKit/*.interb
Internal/Inter/WorldModelKit/*.interb

