:root {
    color-scheme: light dark;
    --element-banner-background-colour: #eeeeee;
    --heading-panel-background-colour: #eeeeee;
    --heading-panel-text-colour: #222222;
    --heading-panel-succeeded-background-colour: #E6FFE6;
    --heading-panel-failed-background-colour: #f69Ca6;

    --heading-row-background-colour: #e0e0e0;
    --stripe-one-background-colour: #ffffff;
    --stripe-two-background-colour: #f3f6fa;

    --index-dull-red-colour: #800000;
    --index-dull-blue-colour: #000080;
    --periodic-table-sidebar-colour: #888;
    --periodic-table-sidebar-hover-colour: #222;
    --leaders-background-colour: white;
    --library-card-title-colour: #803030;
    --library-card-other-colour: #303030;
    --index-more-box-background-colour: #e0e0e0;
    --index-activity-contents-background-colour: #e8e0c0;
    --registry-contents-link-colour: #202020;
    --extension-index-entry-colour: #404040;
    
    --safe-button-background-colour: rgb(31, 136, 61);
    --dangerous-button-background-colour: rgb(136, 31, 61);
	--button-text-background-colour: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --element-banner-background-colour: #444444;
    --heading-panel-background-colour: #444444;
    --heading-panel-text-colour: #ffffff;
    --heading-panel-succeeded-background-colour: #738073;
    --heading-panel-failed-background-colour: #7b4e53;

    --heading-row-background-colour: #707070;
    --stripe-one-background-colour: #000000;
    --stripe-two-background-colour: #090b0d;

    --index-dull-red-colour: #c00000;
    --index-dull-blue-colour: #4040c0;
    --periodic-table-sidebar-colour: #555;
    --periodic-table-sidebar-hover-colour: #222;
    --leaders-background-colour: black;
    --library-card-title-colour: #a05050;
    --library-card-other-colour: #505050;
    --index-more-box-background-colour: #444444;
    --index-activity-contents-background-colour: #727060;
    --registry-contents-link-colour: #ffffff;
    --extension-index-entry-colour: #c0c0c0;
    
    --safe-button-background-colour: rgb(31, 136, 61);
    --dangerous-button-background-colour: rgb(136, 31, 61);
	--button-text-background-colour: #ffffff;
    }
}

/* The default font (family) and size */

body, p, td {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
}

/* For fixed-point material within text, such as the typing on the Library Card index page */

span.typewritten {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-size: 13px;
}

/* For less important material: the small print */

span.smaller {
    font-size: 80%;
}

/* The "heading panel" is the coloured box, high up on the page. The colours
vary depending on the page: for example, the style on a report of a translation
with no problems is "headingpanelsucceeded", usually green, but if there were
problems then "headingpanelfailed" is used, which is usually red. "headingpanel"
itself is a more neutral grey by default. "headingpanelDark" is an alternative
look to make the extensions index pages have some visual contrast with the others;
by default they are a darker grey. */

.headingpanel {
    background: var(--heading-panel-background-colour);
}
.headingpanelsucceeded {
    background: var(--heading-panel-succeeded-background-colour);
}
.headingpanelfailed {
    background: var(--heading-panel-failed-background-colour);
}
.headingpanelalt {
    background: #808080;
}

/* Heading panels have two lines of text: an upper one in a larger size, and a
lower one in a smaller. Again, the alt versions are meant to contrast.

    Report on Translation: Succeeded                <-- headingpaneltext
    Produced by Inform 10.1.0 (build 6U97)          <-- headingpanelrubric

    Installed Extensions                            <-- headingpaneltextalt
    Bundles of extra rules or phrases to...         <-- headingpanelrubricalt

*/

span.headingpaneltext {
    color: var(--heading-panel-text-colour);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    font-weight: bold;
}
span.headingpaneltextalt {
    color: #ffffff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    font-weight: bold;
}

span.headingpanelrubric {
    color: var(--heading-panel-text-colour);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 11px;
    font-weight: bold;
}
span.headingpanelrubricalt {
    color: #ffffff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 11px;
    font-weight: bold;
}

/* Horizontal rule styling */

div.hr {
    border: 0;
    width: 100%;
    color: #707070;
    background-color: #707070;
    height: 5px;
}

/* This styles the (usually white) text of the example numbers written inside
oval blobs in the extension documentation, which mimic the look of the in-app
documentation. */

.oval, .oval td {
    background-image:url('inform:/doc_images/ovoid.png');
    color:white;
}

/* Styling used in the extension documentation indexes: */

/* Used for extension names in the extensions pane of the app */

span.extensioncensusentry {
    color: #ffffff;
}

span.extensionindexentry {
    color: var(--extension-index-entry-colour);
}

span.extensionindexerror {
    color: #ff8080;
}

/* This is used in extension documentation, where an example is presented
in a slightly tinted box: */

table.extensionexample {
	background-color: #f0f0f0;
}

span.extensionexampleletter {
	color: #202020;
	font-size: 14px;
	font-weight: bold;
}

/* Seen in problem messages: */

span.problemred {
    color: #800000;
}

span.problemgreen {
    color: #008000;
}

span.phraseword {
    color: #808080;
}

span.phrasetokentext {
    color: #e00060;
}

span.phrasetokendesctext {
    color: #4040ff;
}

span.phrasetokenvaluetext {
    color: #ff4040;
}

/* Now we move on to styling used in the Index pages only: */

/* The periodic table display has "sidebars", usually grey and taller than they
are wide; they contain no text. */

div.periodictablesidebarcolour {
    background: var(--periodic-table-sidebar-colour);
}
div.periodictablesidebar:hover {
    background: var(--periodic-table-sidebar-hover-colour);
}

/* The text of the element-abbreviation, such as "Lx" or "Ph", uses: */

span.elementtext {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

/* Similarly for the "atomic number" - a single digit - in the top left corner
of these boxes: */

span.elementnumbertext {
    color: #ffffff;
    font-size: 7pt;
}

/* For the text of the element title, to the right of the element box: */

span.elementtitletext {
    color: #ffffff;
    font-size: 9px;
    font-weight: bold;
}

/* The banner at the top of each element: */

table.elementbanner {
    background: var(--element-banner-background-colour);
}

/* For the typewriting on the Library Card: */

span.librarycardtitle {
    color: var(--library-card-title-colour);
}

span.librarycardother {
    color: var(--library-card-other-colour);
}

/* Generically used for "more details" boxes in the index: */

table.indexmorebox {
	background-color: var(--index-more-box-background-colour);
    border-radius: 8px;
}

/* But not for activity contents: */

table.indexactivitycontents {
	background-color: var(--index-activity-contents-background-colour);
    border-radius: 8px;
}

/* For responses in index entries about rules: */

span.indexresponseletter {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    background-color: #8080ff;
}

span.indexresponsetext {
    color: #000066;
}

/* Used ubiquitously throughout the index for unemphasised text: */

span.indexblack {
	color: #000000;
}

span.indexgrey {
	color: #808080;
}

span.indexdarkgrey {
    color: #505050;
}

span.indexdullred {
    color: var(--index-dull-red-colour);
}

span.indexdullgreen {
    color: #008000;
}

span.indexdullblue {
    color: var(--index-dull-blue-colour);
}

/* Used in the numbering of levels of the World map in the Index */

span.indexmaplevelnumbers {
	color: #c0c0c0;
}

/* Used for the room squares in the World map in the Index (which is currently
a table with one row of one column) */

table.indexmaproom {
	border-color: #000000;
}

/* Used in the numbering of levels of the World map in the Index */

span.indexmaplevelnumbers {
	color: #c0c0c0;
}

/* Used e.g. for title rows in the Chart of basic kinds in the Index */

tr.headingrow {
	background-color: var(--heading-row-background-colour);
}

/* Standard rows have black text on striped background colours, these being
the usual ones seen in Mac OS X applications such as iTunes. */

tr.stripeone {
	background-color: var(--stripe-one-background-colour);
}

tr.stripetwo {
	background-color: var(--stripe-two-background-colour);
}

tr.tintedrow {
	background-color: #808080;
}

/* In the Figures index, this is the background colour used behind images
(though in fact it will only be visible if the image fails to load, or uses
transparency): */

div.figureindexbox {
	background-color: #6495ed;
}

/* To get the book-contents-page style leaders on the Contents element of
   the index to work, these must use the background colour of the body of
   the page, whatever that is: */

ul.leaders li.leaded span:first-child {
    background: var(--leaders-background-colour);
}
ul.leaders li.leaded span + span {
    background: var(--leaders-background-colour);
}

/* On Registry index pages (such as the Public Library), these are used for
download buttons and the like: */

span.registrybuttontext {
	font-size: 11px;
	border-color: #000000;
}

span.registryminibuttontext {
	font-size: 10px;
	border-color: #000000;
}

span.registrybuttonuninstalled {
	color: #000000;
	background: #ffffdd;
}

span.registrybuttoninstalled {
	color: #000000;
	background: #ffffff;
	pointer-events: none;
}

span.registrybuttonbuiltin {
	color: #888888;
	background: #ffffff;
	pointer-events: none;
}

span.registrybuttonupdate {
	color: #000000;
	background: #aaddff;
}

span.registrybuttonrevert {
	color: #000000;
	background: #ddaaff;
}

span.registrybuttonrevealer {
	color: #ffffff;
	background: #444444;
}

/* Registry index section headings: */

span.registrysectionname {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 18px;
}
span.registrysubsectionname {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 16px;
}

/* These are for the "mark" for a section, usually a section-symbol and number */

span.registrysectionmark {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 18px;
	color: #666;
}
span.registrysubsectionmark {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 16px;
	color: #666;
}

/* Text of an item listed in a registry: */

span.registryitemtext {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	line-height: 16px;
}

/* And how the links in a registry index page behave: */

a.registrysilentlink {
	text-decoration: none;
	color: #000;
}
a.registrybuttonlink {
	text-decoration: none;
}
a.registrycontentslink:link {
	text-decoration: none;
	color: var(--registry-contents-link-colour);
}
a.registrycontentslink:visited {
	text-decoration: none;
	color: var(--registry-contents-link-colour);
}
a.registrycontentslink:hover {
	text-decoration: none;
	color: #D00000;
}
a.registrycontentslink:active {
	text-decoration: none;
	color: #D00000;
}

/* Buttons for use on inbuild results pages */

button.safebutton {
	background-color: var(--safe-button-background-colour);
	border: none;
	color: var(--button-text-background-colour);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

button.dangerousbutton {
	background-color: var(--dangerous-button-background-colour);
	border: none;
	color: var(--button-text-background-colour);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
