*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
p {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
}
td {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
}
body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
}
span.smaller {
	font-size: 80%;
}
span.typewritten {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: 13px;
}
.oval, .oval TD {
	background-image:url('inform:/doc_images/ovoid.png');
	color:white;
}
h3.tighter {
	margin-top: 0px;
}
p.hang {
	padding-left: 25px;
	text-indent: -25px;
	margin-top: 0px;
	margin-bottom: 0px;
}
p.in1 {
	padding-left: 0px;
}
p.tightin1 {
	padding-left: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin1 {
	padding-left: 0px;
	margin-bottom: 2px;
}
p.hangingin1 {
	padding-left: 50px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
p.in2 {
	padding-left: 25px;
}
p.tightin2 {
	padding-left: 25px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin2 {
	padding-left: 25px;
	margin-bottom: 2px;
}
p.hangingin2 {
	padding-left: 75px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
p.in3 {
	padding-left: 50px;
}
p.tightin3 {
	padding-left: 50px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin3 {
	padding-left: 50px;
	margin-bottom: 2px;
}
p.hangingin3 {
	padding-left: 100px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
p.in4 {
	padding-left: 75px;
}
p.tightin4 {
	padding-left: 75px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin4 {
	padding-left: 75px;
	margin-bottom: 2px;
}
p.hangingin4 {
	padding-left: 125px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
p.in5 {
	padding-left: 100px;
}
p.tightin5 {
	padding-left: 100px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin5 {
	padding-left: 100px;
	margin-bottom: 2px;
}
p.hangingin5 {
	padding-left: 150px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
p.in6 {
	padding-left: 125px;
}
p.tightin6 {
	padding-left: 125px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin6 {
	padding-left: 125px;
	margin-bottom: 2px;
}
p.hangingin6 {
	padding-left: 175px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
p.in7 {
	padding-left: 150px;
}
p.tightin7 {
	padding-left: 150px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin7 {
	padding-left: 150px;
	margin-bottom: 2px;
}
p.hangingin7 {
	padding-left: 200px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
p.in8 {
	padding-left: 175px;
}
p.tightin8 {
	padding-left: 175px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin8 {
	padding-left: 175px;
	margin-bottom: 2px;
}
p.hangingin8 {
	padding-left: 225px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
p.in9 {
	padding-left: 200px;
}
p.tightin9 {
	padding-left: 200px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin9 {
	padding-left: 200px;
	margin-bottom: 2px;
}
p.hangingin9 {
	padding-left: 250px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
div.hr {
	border: 0;
	width: 100%;
	color: #707070;
	background-color: #707070;
	height: 5px;
}

.headingbox {
	position: relative;
	height: 56px;
	padding: 0px;
	white-space:nowrap;
	background: #eeeeee;  /* grey */
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
}
.headingboxhigh {
	position: relative;
	height: 117px;
	padding: 0px;
	white-space:nowrap;
	background: #eeeeee;  /* grey */
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
}
.headingboxSucceeded {
	position: relative;
	height: 56px;
	padding: 0px;
	white-space:nowrap;
	background: #E6FFE6;  /* green */
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
}
.headingboxFailed {
	position: relative;
	height: 56px;
	padding: 0px;
	white-space:nowrap;
	background: #f69Ca6;  /* red */
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
}
.headingboxDark {
	position: relative;
	height: 56px;
	padding: 0px;
	white-space:nowrap;
	background: #808080;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
}
.headingtext {
	position: absolute;
	top: -4px;
	left: -1px;
	width: 100%;
	color: #222222;
	padding: 14px 10px 0px 10px;
	font-size: 20px;
	font-weight: bold;
}
.headingtextWhite {
	position: absolute;
	top: -4px;
	left: -1px;
	width: 100%;
	color: #ffffff;
	padding: 14px 10px 0px 10px;
	font-size: 20px;
	font-weight: bold;
}
.headingrubric {
	position: absolute;
	top: 36px;
	width: 100%;
	color: #222222;
	padding: 0px 10px 0px 10px;
	font-size: 11px;
	font-weight: bold;
}
.headingrubricWhite {
	position: absolute;
	top: 36px;
	width: 100%;
	color: #ffffff;
	padding: 0px 10px 0px 10px;
	font-size: 11px;
	font-weight: bold;
}
