/* (1) General layout material */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.headingpanellayout {
	position: relative;
	height: 56px;
	padding: 0px;
	white-space:nowrap;
}
.headingpanellayoutdeeper {
	position: relative;
	height: 117px;
	padding: 0px;
	white-space:nowrap;
}
.headingtext {
	position: absolute;
	top: -4px;
	left: -1px;
	width: 100%;
	padding: 14px 10px 0px 10px;
}
.headingrubric {
	position: absolute;
	top: 36px;
	width: 100%;
	padding: 0px 10px 0px 10px;
}
h3.tighter {
	margin-top: 0px;
}
p.hang {
	padding-left: 25px;
	text-indent: -25px;
	margin-top: 0px;
	margin-bottom: 0px;
}
p.in1 {
	padding-left: 0px;
}
p.tightin1 {
	padding-left: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin1 {
	padding-left: 0px;
	margin-bottom: 2px;
}
p.hangingin1 {
	padding-left: 50px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
p.in2 {
	padding-left: 25px;
}
p.tightin2 {
	padding-left: 25px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin2 {
	padding-left: 25px;
	margin-bottom: 2px;
}
p.hangingin2 {
	padding-left: 75px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
p.in3 {
	padding-left: 50px;
}
p.tightin3 {
	padding-left: 50px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin3 {
	padding-left: 50px;
	margin-bottom: 2px;
}
p.hangingin3 {
	padding-left: 100px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
p.in4 {
	padding-left: 75px;
}
p.tightin4 {
	padding-left: 75px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin4 {
	padding-left: 75px;
	margin-bottom: 2px;
}
p.hangingin4 {
	padding-left: 125px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
p.in5 {
	padding-left: 100px;
}
p.tightin5 {
	padding-left: 100px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin5 {
	padding-left: 100px;
	margin-bottom: 2px;
}
p.hangingin5 {
	padding-left: 150px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
p.in6 {
	padding-left: 125px;
}
p.tightin6 {
	padding-left: 125px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin6 {
	padding-left: 125px;
	margin-bottom: 2px;
}
p.hangingin6 {
	padding-left: 175px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
p.in7 {
	padding-left: 150px;
}
p.tightin7 {
	padding-left: 150px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin7 {
	padding-left: 150px;
	margin-bottom: 2px;
}
p.hangingin7 {
	padding-left: 200px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
p.in8 {
	padding-left: 175px;
}
p.tightin8 {
	padding-left: 175px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin8 {
	padding-left: 175px;
	margin-bottom: 2px;
}
p.hangingin8 {
	padding-left: 225px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}
p.in9 {
	padding-left: 200px;
}
p.tightin9 {
	padding-left: 200px;
	margin-top: 2px;
	margin-bottom: 2px;
}
p.halftightin9 {
	padding-left: 200px;
	margin-bottom: 2px;
}
p.hangingin9 {
	padding-left: 250px;
	text-indent: -50px;
	margin-top: 0px;
	margin-bottom: 1px;
}

/* (2) Index page layout material */

/* The periodic table display has "sidebars", usually grey and taller than they
are wide; they contain no text. */

div.periodictablesidebar {
	height: 56px;
	width: 16px;
}
.periodictablesidebar a:link { text-decoration: none; }
.periodictablesidebar a:visited { text-decoration: none; }
.periodictablesidebar a:active { text-decoration: none; }

/* The "element boxes" are the cells appearing in the periodic-table display
on the welcome page of the index: */

.elementbox {
	position: relative;
	height: 56px;
	width: 56px;
	padding: 0px;
}

.elementbox a:link { text-decoration: none; }
.elementbox a:visited { text-decoration: none; }
.elementbox a:active { text-decoration: none; }
.elementbox a:hover { text-decoration: none; }
.elementbox:hover {
	opacity: 0.6;
}

/* The "small element boxes" look like those, but are smaller, and used on
the headings of the content which those original boxes link to: */

.smallelementbox {
	position: relative;
	height: 40px;
	width: 40px;
	padding: 0px;
}

.smallelementbox a:link { text-decoration: none; }
.smallelementbox a:visited { text-decoration: none; }
.smallelementbox a:active { text-decoration: none; }
.smallelementbox a:hover { text-decoration: none; }
.smallelementbox:hover {
	opacity: 0.6;
}

/* This is a class for the links formed by the element boxes: */

a.elementlink {
	position: absolute;
	top: -4px;
	left: -1px;
	width: 100%;
	padding: 14px 0px 14px 1px;
	text-align: center;
}

/* Similarly for the "atomic number" - a single digit - in the top left corner
of these boxes: */

div.elementnumber {
	position: absolute;
	top: 1px;
	left: 3px;
	text-align: left;
}

/* For the text of the element title, to the right of the element box: */

div.elementtitle {
	position: absolute;
	top: 35px;
	width: 100%;
	text-align: center;
}

/* Used for the book-contents-page style leaders on the Contents element of
   the index: */

ul.leaders {
	padding: 0;
	margin-top: 1px;
	margin-bottom: 0;
	overflow-x: hidden;
	list-style: none}
ul.leaders li.leaded:before {
	float: left;
	width: 0;
	white-space: nowrap;
	content:
	".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  "
	".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  "
	".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  "
	".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  "
	".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  "
	".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  "
	".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  "
	".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  "
	".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  "
	".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  "}
ul.leaders li.leaded span:first-child {
	padding-right: 0.33em;
}
ul.leaders li.leaded span + span {
	float: right;
	padding-left: 0.33em;
}
li.indent1 span:first-child {
	padding-left: 25px;
}
li.indent2 span:first-child {
	padding-left: 50px;
}
li.indent3 span:first-child {
	padding-left: 75px;
}
li.indent4 span:first-child {
	padding-left: 100px;
}
li.indent5 span:first-child {
	padding-left: 125px;
}
li.indent6 span:first-child {
	padding-left: 150px;
}
li.indent7 span:first-child {
	padding-left: 175px;
}
li.indent8 span:first-child {
	padding-left: 200px;
}
li.indent9 span:first-child {
	padding-left: 225px;
}

li.unleaded:before {
	content: "";
}

/* On Registry index pages (such as the Public Library), these are used for
download buttons and the like: */

span.registrybuttons {
	height: 20px;
	padding: 2px 8px 2px 8px;
	margin: 2px;
	border:1px solid;
	border-radius: 5px;
}

span.registryminibuttons {
	height: 14px;
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border:1px solid;
	border-radius: 4px;
}

/* Used to hide or display sections in the Registry pages: */

div.registrysectionitemsopen {
	display: block;
}

div.registrysectionitemsclosed {
	display: none;
}

/* Hanging indentation for Registry item paragraphs: */

p.registryitem {
	padding-left: 80px;
	text-indent: -40px;
}

p.registryaddition {
	padding-left: 40px;
	text-indent: -40px;
}
