/* The default font (family) and size */

body, p, td {
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 0.8rem; /* 100/125 */
}

/* For fixed-point material within text, such as the typing on the Library Card index page */

span.typewritten {
	font-family: monospace;
	font-size: 0.867rem; /* 13/12 * 100/125 */
}

/* For less important material: the small print */

span.smaller {
	font-size: 80%;
}

/* The "heading panel" is the coloured box, high up on the page. The colours
vary depending on the page: for example, the style on a report of a translation
with no problems is "headingpanelsucceeded", usually green, but if there were
problems then "headingpanelfailed" is used, which is usually red. "headingpanel"
itself is a more neutral grey by default. "headingpanelDark" is an alternative
look to make the extensions index pages have some visual contrast with the others;
by default they are a darker grey. */

.headingpanel {
	background: #eeeeee;
}
.headingpanelsucceeded {
	background: #E6FFE6;
}
.headingpanelfailed {
	background: #f69Ca6;
}
.headingpanelalt {
	background: #808080;
}

/* Heading panels have two lines of text: an upper one in a larger size, and a
lower one in a smaller. Again, the alt versions are meant to contrast.

	Report on Translation: Succeeded                <-- headingpaneltext
	Produced by Inform 10.1.0 (build 6U97)          <-- headingpanelrubric

	Installed Extensions                            <-- headingpaneltextalt
	Bundles of extra rules or phrases to...         <-- headingpanelrubricalt

*/

span.headingpaneltext {
	color: #222222;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 1.333rem; /* 20/12 * 100/125 */
	font-weight: bold;
}
span.headingpaneltextalt {
	color: #ffffff;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 1.333rem; /* 20/12 * 100/125 */
	font-weight: bold;
}

span.headingpanelrubric {
	color: #222222;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 0.733rem; /* 11/12 * 100/125 */
	font-weight: bold;
}
span.headingpanelrubricalt {
	color: #ffffff;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 0.733rem; /* 11/12 * 100/125 */
	font-weight: bold;
}

/* Horizontal rule styling */

div.hr {
	border: 0;
	width: 100%;
	color: #707070;
	background-color: #707070;
	height: 5px;
}

/* This styles the (usually white) text of the example numbers written inside
oval blobs in the extension documentation, which mimic the look of the in-app
documentation. */

.oval, .oval td {
	background-image:url('inform:/doc_images/ovoid.png');
	color:white;
}

/* Styling used in the extension documentation indexes: */

/* Used for extension names in the extensions pane of the app */

span.extensioncensusentry {
	color: #ffffff;
}

span.extensionindexentry {
	color: #404040;
}

span.extensionindexerror {
	color: #ff8080;
}

/* This is used in extension documentation, where an example is presented
in a slightly tinted box: */

table.extensionexample {
	background-color: #f0f0f0;
}

span.extensionexampleletter {
	color: #202020;
	font-size: 14px;
	font-weight: bold;
}

/* Seen in problem messages: */

span.problemred {
	color: #800000;
}

span.problemgreen {
	color: #008000;
}

span.phraseword {
	color: #808080;
}

span.phrasetokentext {
	color: #e00060;
}

span.phrasetokendesctext {
	color: #4040ff;
}

span.phrasetokenvaluetext {
	color: #ff4040;
}

/* Now we move on to styling used in the Index pages only: */

/* The periodic table display has "sidebars", usually grey and taller than they
are wide; they contain no text. */

div.periodictablesidebarcolour {
	background: #888;
}
div.periodictablesidebar:hover {
	background: #222;
}

/* The text of the element-abbreviation, such as "Lx" or "Ph", uses: */

span.elementtext {
	color: #ffffff;
	font-size: 1.333rem; /* 20/12 * 100/125 */
	font-weight: bold;
}

/* Similarly for the "atomic number" - a single digit - in the top left corner
of these boxes: */

span.elementnumbertext {
	color: #ffffff;
	font-size: 0.622rem; /* 7/12 * 96/72 * 100/125 */
}

/* For the text of the element title, to the right of the element box: */

span.elementtitletext {
	color: #ffffff;
	font-size: 0.6rem; /* 9/12 * 100/125 */
	font-weight: bold;
}

/* The banner at the top of each element: */

table.elementbanner {
	background: #eeeeee;
}

/* For the typewriting on the Library Card: */

span.librarycardtitle {
	color: #803030;
}

span.librarycardother {
	color: #303030;
}

/* Generically used for "more details" boxes in the index: */

table.indexmorebox {
	background-color: #e0e0e0;
    border-radius: 8px;
}

/* But not for activity contents: */

table.indexactivitycontents {
	background-color: #e8e0c0;
    border-radius: 8px;
}

/* For responses in index entries about rules: */

span.indexresponseletter {
	color: #ffffff;
	font-family: 'Courier New', Courier, monospace;
	background-color: #8080ff;
}

span.indexresponsetext {
	color: #000066;
}

/* Used ubiquitously throughout the index and extension documentation: */

span.indexblack {
	color: #000000;
}

span.indexgrey {
	color: #808080;
}

span.indexdarkgrey {
    color: #505050;
}

span.indexdullred {
	color: #800000;
}

span.indexdullgreen {
	color: #008000;
}

span.indexdullblue {
	color: #000080;
}

/* Used for the room squares in the World map in the Index (which is currently
a table with one row of one column) */

table.indexmaproom {
	border-color: #000000;
}

/* Used in the numbering of levels of the World map in the Index */

span.indexmaplevelnumbers {
	color: #c0c0c0;
}

/* Used e.g. for title rows in the Chart of basic kinds in the Index */

tr.headingrow {
	background-color: #e0e0e0;
}

/* Standard rows have black text on striped background colours, these being
the usual ones seen in Mac OS X applications such as iTunes. */

tr.stripeone {
	background-color: #ffffff;
}

tr.stripetwo {
	background-color: #f3f6fa;
}

tr.tintedrow {
	background-color: #808080;
}

/* In the Figures index, this is the background colour used behind images
(though in fact it will only be visible if the image fails to load, or uses
transparency): */

div.figureindexbox {
	background-color: #6495ed;
}

/* To get the book-contents-page style leaders on the Contents element of
   the index to work, these must use the background colour of the body of
   the page, whatever that is: */

ul.leaders li.leaded span:first-child {
	background: white;
}
ul.leaders li.leaded span + span {
	background: white;
}

/* On Registry index pages (such as the Public Library), these are used for
download buttons and the like: */

span.registrybuttontext {
	font-size: 11px;
	border-color: #000000;
}

span.registryminibuttontext {
	font-size: 10px;
	border-color: #000000;
}

span.registrybuttonuninstalled {
	color: #000000;
	background: #ffffdd;
}

span.registrybuttoninstalled {
	color: #000000;
	background: #ffffff;
	pointer-events: none;
}

span.registrybuttonbuiltin {
	color: #888888;
	background: #ffffff;
	pointer-events: none;
}

span.registrybuttonupdate {
	color: #000000;
	background: #aaddff;
}

span.registrybuttonrevert {
	color: #000000;
	background: #ddaaff;
}

span.registrybuttonrevealer {
	color: #ffffff;
	background: #444444;
}

/* Registry index section headings: */

span.registrysectionname {
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 18px;
}
span.registrysubsectionname {
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 16px;
}

/* These are for the "mark" for a section, usually a section-symbol and number */

span.registrysectionmark {
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 18px;
	color: #666;
}
span.registrysubsectionmark {
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 16px;
	color: #666;
}

/* Text of an item listed in a registry: */

span.registryitemtext {
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	line-height: 16px;
}

/* And how the links in a registry index page behave: */

a.registrysilentlink {
	text-decoration: none;
	color: #000;
}
a.registrybuttonlink {
	text-decoration: none;
}
a.registrycontentslink:link {
	text-decoration: none;
	color: #202020;
}
a.registrycontentslink:visited {
	text-decoration: none;
	color: #202020;
}
a.registrycontentslink:hover {
	text-decoration: none;
	color: #D00000;
}
a.registrycontentslink:active {
	text-decoration: none;
	color: #D00000;
}
