<!DOCTYPE html>
<html>
<head>
  <title>[AUTHOR] - [TITLE] — Play</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="author" content="[AUTHOR]">
  <link rel="stylesheet" href="style.css">
  
  [INTERPRETERHEAD]
  
</head>
<body class="play">
<div class="container">
<div class="coverimage"><span>[COVER]</span></div>
<div class="links">
<div class="smalltitle">[TITLE]</div>
<ul>
<li><a href="index.html">Home page</a></li>
</ul>
</div>

<div id="gameport">
[INTERPRETERBODY]
</div>

</div>
<div class="interpretercredit"><a href="[INTERPRETERURL]">[INTERPRETERVERSION]</a></div>
</body>
</html>
